
    <div class="row">
  
  
    <div class="col-lg-4">
    <div class="white_card card_height_100 mb_20">
    <div class="white_card_header">
    <div class="box_header m-0">
    <div class="main-title">
    <h3 class="m-0">Nombre de type de Gravier</h3>
    </div>
    <div class="white_card_body d-flex align-items-center" style="height:140px">
        <h3 class="f_w_900 f_s_60 mb-0 me-2"><a routerLink="acceuil/type">{{nbreType}}</a></h3>
    </div>
    </div>
    </div>
    <div class="white_card_body">
    <div id="chart-currently"></div>
    </div>
    </div>
    </div>

    <div class="col-lg-4">
        <div class="white_card card_height_100 mb_20">
        <div class="white_card_header">
        <div class="box_header m-0">
        <div class="main-title">
        <h3 class="m-0">Nombre de Localités enregistrées</h3>
        </div>
        <div class="white_card_body d-flex align-items-center" style="height:140px">
            <h3 class="f_w_900 f_s_60 mb-0 me-2">{{nbreLocalite}}</h3>
        </div>
        </div>
        </div>
        <div class="white_card_body">
        <div id="chart-currently"></div>
        </div>
        </div>
        </div>
    <div class="col-lg-4">
            <div class="white_card card_height_100 mb_20">
            <div class="white_card_header">
            <div class="box_header m-0">
            <div class="main-title">
            <h3 class="m-0">Nombre de carriéres</h3>
            </div>
            <div class="white_card_body d-flex align-items-center" style="height:140px">
                <h3 class="f_w_900 f_s_60 mb-0 me-2">{{nbreCarriere}}</h3>
            </div>
            </div>
            </div>
            <div class="white_card_body">
            <div id="chart-currently"></div>
            </div>
            </div>
            </div>
 
    </div>
    