<nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
    <div class="logo d-flex justify-content-between">
       <strong>App Gestion</strong>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="mm-active">
         
            <ul>
                <li><a class="active" routerLink="acceuil/menu">Acceuil</a></li>
                <li><a routerLink="acceuil/type">Type Gravier</a></li>
                <li><a routerLink="acceuil/localite">Localité</a></li>
                <li><a routerLink="acceuil/carriere">Carriére</a></li>


            </ul>
        </li>

    </ul>
</nav>